//reset.css
@import 'base/reset';

///*------------------------------------*//
//    Colors
//*------------------------------------*//
$main-color: #fff;
$accent-color: #f00;
$font-color: #000;




///*------------------------------------*//
//    path
//*------------------------------------*//
$img_path:'./htdocs/common/img/';







///*------------------------------------*//
//     Placeholder selector
//*------------------------------------*//

//clearfix
%cf{
	&:after {
    content:"";
    display:block;
    clear:both;
  }
}



///*------------------------------------*//
//     Mixin
//*------------------------------------*//

//メディアクエリ挿入
@mixin media_query($width:640){
	@media screen and (max-width: $width+px){
		@content;
	}
}
